.Bg {
    background-position: top center;
    min-height: 100vh;
    background: rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.Wrapper{
    // position: absolute;
    // top: 100px;
    // display: flex;
    // flex-direction: column
    
    width: 100%;
    // transform: translateY(100px);
    // display: flex;
    // align-self: center;
    padding: 0 20px;
}

.ContactForm {
    max-width: 1200px;
    margin: 0 auto;
    background:#F8F8FF;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.InputFields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    outline: none;
    flex: 1;

}
.Msg {
    flex: 1.5;
}

.Msg .SubmitButton {
    background: rgba(223,204,153, 0.7);
    text-align: center;
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px; 
    // border: none;
    // padding: 5px 25px;
    // color: #5a5757;
    margin: 5px auto;
    font-weight: 500;
    display: flex;
    justify-content: center;
    // font-size: 25px;
    // outline: none;
    cursor: pointer;
    // border-radius: 100px;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 2px rgba(0,0,0,.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
}

.InputFields , .Msg {
    width: 80%;
}

.InputFields input[type="text"] {
    margin: 20px 0;
    background: transparent;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid rgba(223,204,153, 1)  ;
    padding: 10px;
    color: black;
    width: 100%;

}

.Change::-webkit-input-placeholder {
    color: rgba(223,204,153, 1) ;
}

.InputFields .InputButton {
    margin: 20px 0;
    background: transparent;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid rgba(223,204,153, 1);
    padding: 10px;
    color: rgba(223,204,153, 1) ;
    width: 100%;
    cursor: pointer;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 2px rgba(0,0,0,.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
}



@media screen and (max-width: 600px) {
    .ContactForm {
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
    
    .InputFields {
        flex: 1;
        width: 100%;
        margin: 5px 0;
    
    }
    .Msg {
        flex: 1;
        width: 100%;
        margin: 5px 0;
    }   

    .InputFields input[type="text"] {
        font-size: 14px;
    
    }

    .InputFields .InputButton {
        font-size: 14px;
    }

    .Loader {
        left:'20%';
    }
    
}