.FullPetDetailsContainer {
    padding-top: 90px;
}


.Section{  
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    // min-height: 100%;
    background-position: 0 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    clip-path: circle(0px at center);
}
 
.TextContainer {
    font-size: 25px;
    position: relative;
    margin-top: 200vh;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    background: white;
    max-width: 80%;
    word-wrap: break-word;
    // background: rgba(0,0,0,0.6);
    padding: 100px 60px;
}

@media screen and (max-width: 800px) {
    .TextContainer {
        padding: 60px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 40px;
    }
    .Button {
        &__Edit{
            padding: 10px 20px;
        }
    
        &__Delete {
            padding: 10px 20px;
        }

    }
}

@media screen and (max-width: 500px) {
    .TextContainer {
        padding: 30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
        
    }

    .Button {
        &__Edit{
            padding: 8px 16px;
        }
    
        &__Delete {
            padding: 8px 16px;
        }

    }
}

.Title{
    position: relative;
    top: 100px;
    z-index: 1;
    text-align: center;
    width: 100%;
    background-color: #5a5757  ;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all .2s;

    h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    }
}

.Rating {
    margin-top: 50px;
    margin-bottom: 50px;
    &__Text {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.Treatos{
    display: flex;
}

.CookieIcon {
    height: 35px;
    width: 35px;
    display: block;
    cursor: pointer;
    margin-right: 20px;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 2px rgba(0,0,0,.01);
    }
    &:active {
        transform: translateY(-1px);
    }
}
// .Rating__Text {
//     color: white;
// }

.TreatCount {
    display: inline;
    font-size: 16px;
    align-self: center;

    span{
        font-weight: bold;
    }
}

.Button {
    margin-top: 25px;
    &__Edit{
        background-color: #55c57a;
        color: white;
        margin-right: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        transition: all .2s;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 14px;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 2px rgba(0,0,0,.2);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }
        
    }

    &__Delete {
        background-color: red;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        transition: all .2s;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 14px;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 2px rgba(0,0,0,.2);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }
        
    }
}

