
header {
    // background-color: transparent;
    height: 70px;
    background: #f5f5f5;
    // background: rgba(0,0,0,0.8);
    // color: #5a5757;
    display: flex;
    color: rgb(223,204,153) ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    position: fixed;
    // position: relative;
    @media only screen and (max-width: 500px) {
        flex-wrap: wrap;
        height: 110px;
        align-content: space-around;
    }
}

header.sticky {
    background-color: #f5f5f5 ;
    padding: 5px 10px;
    position: fixed;
}

.Logo {
    height: 70px;
    margin-left: 30px;

    @media only screen and (max-width: 500px) {
        margin-left: 10px;
        height: 40px;
    }
}

.Search {
    flex: 0 0 50%;
    display: flex;

    @media only screen and (max-width: 500px) {
     order: 1;   
     flex: 0 0 100%;
    margin-bottom: 20px;
     background-color:#E0E0E0;

     .Search{
        &__Input {
            &:focus {
                background-color: #E0E0E0;
            }
        }
     }

    }

    &__Input {
        font-family: inherit;
        font-size: 20px;
        color:black;
        background-color:#E0E0E0;
        border: none;
        border-radius: 100px;
        width: 90%;
        padding: 7px 20px;
        transition: all .2s;
        margin-right: -35px;
        &:focus {
            width: 95%;
            background-color: #E0E0E0;
            outline: none
        }
    }

    &__Input:focus + &__Button {
        background-color: transparent;
    }

    
    &__Button {
        cursor: pointer;
        border: none;
        background-color:#E0E0E0;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__Icon {
        height: 20px;
        width: 20px;
    }
}

// .Links {
//     font-size: '25px';
//     text-decoration: 'underline';
//     font-weight:'500';
//     display:'flex';
//     align-self:'center';
//     margin-right: '20px'; 
//     margin-top: '4px';
//     letter-spacing: '1px' ;
//     color: rgba(223,204,153, 1);

//     @media only screen and (max-width: 500px) {
//         display: none
//     }
// }

.Image__Button {
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 50%;
        background-color: transparent;
       
}

// header.sticky .Search {
//     &__Input {

//         // background-color: transparent ;
//         border: 2px solid gray;
//     }

//     &__Input:focus + &__Button {
        
//         background-color: #dfcc99 ;
//     }
//     &__Button {
//         background-color: transparent ;
           
//     }

//     &__Button {
//         cursor: pointer;
//         border: none;
//         background-color: transparent;
//         &:focus {
//             outline: none;
//         }
//         &:active {
//             transform: translateY(2px);
//         }
//     }

// }

header.sticky .Image__Button{
    background: transparent;
}

.ButtonWithoutPic {
    outline: none;
    border: none;
    background-color: transparent;
}
.ButtonWithoutPic i{
    font-size: 35px;
    cursor: pointer;
    &:hover {
        transform: translateY(-2px);
        outline: none;
    }
    &:active {
        transform: translateY(-1px);
        outline: none;
        background-color: transparent;
    }
}



.UserNav {
    margin-right: 20px;
    position: relative;
    display: flex;
}



.Image {
    border: none;
    outline: none;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: translateY(-2px);
        outline: none;
        box-shadow: 0 10px 2px rgba(0,0,0,.1);
    }
    &:active {
        transform: translateY(-1px);
        outline: none;
        background-color: transparent;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
}


header.sticky .UserNav{
    color: #5a5757;
    font-weight: 500;
}


header.sticky .LoginButton{
    background: transparent;
    font-weight: 700;
}

header.sticky .Hamburger{
    background: transparent;
}



.Toggler{
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
}

.Hamburger {
    cursor: pointer;
    z-index: 5;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
        transform: translateY(-1px);
    }
}

.Hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #2D3F47;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.Hamburger > div:before,
.Hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 5;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
}

 .Hamburger > div:after {
    top: 10px; 
}

 .Toggler:checked + .Hamburger > div {
    transform: rotate(135deg);
}

 .Toggler:checked + .Hamburger > div:before,
 .Toggler:checked + .Hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

 .Toggler:checked:hover + .Hamburger > div {
    transform: rotate(225deg);
}



.FullMenu {
    position: fixed;
    overflow: hidden;
    top:0;
    left: 0;
    z-index: 4;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background: rgba(0,0,0,0.9);
    // background-color: #dfcc99 ;
    opacity: 0.95;
    transform: scale(1);
    animation: moveInFromRight 0.3s ease-out
}

.Content  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Content .PageMenu {
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    list-style: none;
    cursor: pointer; 

    &:hover {
        transform: scale(1);
        opacity: 0.7;
    }
}

.Content .PageMenu .List button {
        width: 250px;
        border: none;
        outline: none;  
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        transition: all .2s;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 14px;
        transition: 0.5s;
        margin-bottom: 10px;

        &:hover {
            transform: scale(1.5);
            opacity: 1;
            filter: blur(0);
            box-shadow: 0 10px 2px rgba(0,0,0,.2);
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }
}

.FullMenu .ModalClose {
    position: absolute;
    z-index: 1000;
    top: 8px;
    right: 12px;
    height: 25px;
    width: 25px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    font-weight: 700;
    transition: 0.5s;


    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 2px rgba(0,0,0,.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }   
}




@keyframes moveInFromRight{

    
    0% {
        opacity: 0;
        transform: scale(0);

    }

    100% {
        opacity: 0.9;
        transform: scale(1);
    }
}

