.Box{
    width: 92%;
    margin: 0 15px 30px ;
    padding: 10px;
    background: #fff;
    // background-color: #dfcc99 ;
    // background-color: rgba(	223,204,153, 0.7);
    overflow: hidden;
    border-radius: 15px;
    transition: all 1s ease;
    break-inside: avoid;
    text-decoration: none;

    transition: all .3s;
    // &:hover{
    //     transform: translateY(-2px) scale(1);
    // }
}

.title{
    font-size: 18px;
    margin: 10px 0 0;
    padding: 0;
    text-transform: uppercase;
}

.desc{
    font-size: 12px;
    margin: 0;
    padding: 0 0 10px;
}

.image {
    max-width: 100%;
    border-radius: 10px;
}

