.Banner {
    position: relative;
    width: 100%;
    height: 87.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // top: -70px;
}



.FitBg {
    position: absolute;
    // top: -70px;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Content{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Box {
    color: #5a5757;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    height: 180px;
    width: 300px;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(	223,204,153, 0.7);

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 2px rgba(0,0,0,.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    
}


@media(max-width: 950px) {
    .Banner .Content{
        flex-direction: column;
    }

    .Banner .Box {
        height: 120px;
        margin: 20px auto;
    }
}


.Card {
    min-height: 100vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Card h1 {
    margin-left: 12%;
}

.Card .Button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(	223,204,153, 0.7) ;
    color: white;
    font-size: 20px;
    border: none;
    padding: 5px 25px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    border-radius: 50px;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 2px rgba(0,0,0,.2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
}

.PetList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.PetList .PetBox {
    cursor: pointer;
    position: relative;
    min-width: 220px;
    height: 350px;
    transition: 0.5s;
    margin: 10px;
}

.PetList:hover .PetBox {
    opacity: 0.6;
}

.PetList .PetBox:hover {
    opacity: 1;
}

.PetBox .ImgBox {
    position: relative;
    width: 100%;
    height: 200px;
}

.PetBox .ContentBox {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(	223,204,153, 0.7) ;
    color: #5a5757;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

}

.PetBox .ContentBox h2 {
    
    font-weight: 500;
    line-height: 1.2em;
}
.PetBox .ContentBox h2 p span {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.5;
}



@media(max-width: 950px) {
    .Card .PetList .PetBox{
        cursor: pointer;
        position: relative;
        max-width: 220px;
        min-width: initial;
        width: 220px;
        height: 300px;
        transition: 0.5s;
        margin: 10px;
    }

    .Card .PetList .PetBox .ImgBox {
        height: 150px;
    }

    // .Banner .Box {
    //     height: 120px;
    //     margin: 20px auto;
    // }
}









.Works {
    padding-top: 50px;
    min-height: 120vh;
    background-color: rgba(	223,204,153, 0.8);
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
}

.Col1 , .Col2, .Col3 {
    width: 33%;
}

// .Col2 {
//     margin: 10px auto;
// }

.Col1 p  , .Col3 p{
    margin-bottom: 20px;
    // max-width: 300px;
}

.Col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Col2 h4 {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    border-radius: 50%;
    text-align: center;
    // margin-left: 35%;

    margin-bottom: 20px;
}

.Col2 h3, .Col2 p {
    margin-left: 10%;
}

.Col3 .FirstStatement {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.ArrowFirst span {
    display: flex;
    font-size: 100px;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
}

.Arrow span {
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.ArrowLast span {
    display: flex;
    font-size: 180px;
    justify-content: flex-end;
    align-items: right;
}

.ArrowLastCol3 span {
    display: flex;
    font-size: 180px;
    justify-content: flex-end;
    align-items: right;
    position: absolute;
    // left: 66%;
    // right: 30%;
}

.ArrowFirstLastCol span {  
    font-size: 100px;
}


.Img1 {
    position: relative;
    width: 220px;
    height: 150px;   
    transform: skewX(5deg);
    
}

.Img1 img {
    position: absolute;
    // left: 0;
    // top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 10px;
    
}

.Img2 {
    position: relative;
    width: 220px;
    height: 150px;   
    transform: skewX(-5deg);
}

.Img2 img {
    position: absolute;
    // left: 165px;
    // top: -30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 10px;
}

.Img3 {
    position: relative;
    width: 220px;
    height: 150px;   
    transform: skewX(8deg);
}

.Img3 img {
    position: absolute;
    left: 0;
    // top: -40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 10px;
}

.Img4 {
    position: relative;
    width: 220px;
    height: 150px;  
    transform: skewX(-8deg);
}

.Img4 img {
    position: absolute;
    // left: 150px;
    // top: -50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 10px;
}

.Img1 , .Img2 , .Img3 , .Img4 {
    transition: all .6s;
    &:hover {
        transform: skewX(0);
        transform: scale(1.2);
        z-index: 2;
    }
}


@media(max-width: 870px) {
    .Img1 {
        margin-top: 50px;
    }
    .Img4 {
        margin-bottom: 15px;
    }
    .Img1 , .Img2 , .Img3 , .Img4 {
        margin: 5px 0;
        width: 200px;
        height: 120px; 
    }
}

@media(max-width: 770px) {
    .Img1 {
        margin-top: 70px;
    }
    .Img4 {
        margin-bottom: 15px;
    }
    .Img1 , .Img2 , .Img3 , .Img4 {
        margin: 20px 0;
        width: 180px;
        height: 100px; 
    }
}

@media(max-width: 770px) {
    .Img1 {
        margin-top: 70px;
    }
    .Img4 {
        margin-bottom: 15px;
    }
    .Img1 , .Img2 , .Img3 , .Img4 {
        margin: 20px 0;
        width: 180px;
        height: 100px; 
    }
}

@media(max-width: 770px) {
    section {
        font-size: 12px;
    }
    .Img1 {
        margin-top: 70px;
    }
    .Img4 {
        margin-bottom: 15px;
    }
    .Img1 , .Img2 , .Img3 , .Img4 {
        margin: 20px 0;
        width: 160px;
        height: 80px; 
    }
}

@media(max-width: 490px) {
    section {
        font-size: 8px;
    }
    .Img1 {
        margin-left: -10px;
    }
    .Img4 {
        margin-bottom: 15px;
    }
    .Img1 , .Img2 , .Img3 , .Img4 {
        width: 120px;
        height: 80px; 
    }

    .Col3 .Arrow {
        margin-left: 50px;
    }

    .Col2 h4 {
        width: 100px;
        height: 100px;
    }
}

@media(max-width: 450px) {
    section {
        font-size: 7px;
    }
    .Img1 {
        margin-left: -20px;
    }
    .Img4 {
        margin-bottom: 15px;
    }
    .Img1 , .Img2 , .Img3 , .Img4 {
        width: 100px;
        height: 60px; 
        margin-top: 50px;
        // margin: 50px 0;
    }

    // .Img1 , .Img2 , .Img3 {
    //     margin-top: 50px;
    // }

    .Col3 .Arrow {
        margin-left: 50px;
    }

    .Col2{
        margin-top: -90px;
    }

    .Col2 h4 {
        width: 100px;
        height: 100px;
    }
}




.Footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Footer .Social {
    position: relative;
    display: flex;
}

.Footer .Social li {
    list-style: none;
    background-color: transparent;
    outline: none;

}

.Footer .Social li button {
    background-color: transparent;
    outline: none;
    padding: 10px;
    border: none;
}
.Footer .Social li i {
    margin: 0 20px;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}




