.Container{
    width: 100%;
}

.InputElement {
    font-size: 14px;
    position: relative;
    width: 270px;
    background: #f5f5f5;
    border: none;
    outline: none;
    margin: 8px 0;
    color: #333;
    box-shadow: none;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: 300;

    &:focus {
        border: 1px solid rgb(208, 233, 233);
    }
}

// .InputElement:focus {
//     background-color: green;
// }