// .navbar {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     //   padding: 1rem;
//     //   padding-right: 3.5rem;
//     border-bottom: 1px solid gray;
//     background: white;

//     padding-left: 1rem;
//     padding-right: 1rem;

//     .pethshare-logo {
//       width: 150px;
//       // margin-right: 2rem;
//     }

//     .navbar-links {
//       width: auto;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding: 1rem 1rem 1rem;
//       font-size: 1.4rem;

//       font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
//       font-weight: 700;
//       //   line-height: 1.28571429em;
//       //   text-transform: none;
//       color: rgba(0, 0, 0, 0.87);

//       a {
//         color: #5a5757;
//         margin: 0 1rem;

//         // &:last-of-type {
//         //   margin-right: 0;
//         // }

//         .user-avatar {
//           // margin-right: ;
//         }
//       }
//     }
//   }

.main-container {
  height: 100vh;
  padding: 110px 2rem 2rem 2rem;

  @media only screen and (max-width: 768px) {
    // padding-left: 4rem;
    // padding-right: 4rem;
  }

  //   .pets-listing {
  // height: 500px;


  .pet-cards-container {
    //   padding-right: 0 !important;
    //   padding-left: 0 !important;
    



    .no-pets {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  //   }
}

.logout-popups {
  // width: 400px;
  .content {
    font-size: 1.28rem;
  }
}
